<h2>Add a new todo...</h2>

<form action='/todo/new' method='post'>
     <input class="text-input" id="new-todo-description" name="description" type="text" placeholder="Add a new todo...">
  <input class="text-input" id="new-pomodoro-estimate" name="pomodoro-estimate" type="number" placeholder="Pomodoro estimate...">
  <input class="button" id="add-new-todo-button" type="submit" value="Add todo">
<input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
</form>